#if you are wondering why i'm not ignoring the entire vs dir, its beause vs stores launch configs in there (eg. launch without steam and other command line parameters)
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
.vs/JATAPT
output/debug
output/install
*.exe
src/config.h
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/cmake.db
.vs/slnx.sqlite
.DS_Store
*.VC.db
*.app
*.a
build
jataptConfig.cmake
jataptConfigVersion.cmake
jataptTargets.cmake
.ninja*
*.ninja
.vscode
src/Alcubierre/build_info.h
