glfw*/cmake_uninstall.cmake
glfw*/src/glfw3.pc
glfw*/src/glfw3Config.cmake
glfw*/src/glfw3ConfigVersion.cmake
glfw*/src/glfw_config.h

GameNetworkingSockets/src/libGameNetworkingSockets.so
GameNetworkingSockets/src/steamnetworkingsockets_messages.pb.cc
GameNetworkingSockets/src/steamnetworkingsockets_messages.pb.h
GameNetworkingSockets/src/steamnetworkingsockets_messages_certs.pb.cc
GameNetworkingSockets/src/steamnetworkingsockets_messages_certs.pb.h
GameNetworkingSockets/src/steamnetworkingsockets_messages_udp.pb.cc
GameNetworkingSockets/src/steamnetworkingsockets_messages_udp.pb.h

mio/DartConfiguration.tcl
mio/mio-config-version.cmake
